body {
    margin: 0 auto;
    background-color: antiquewhite;
}

/* div {
    width: 90%;
    margin: 0;
    background-color: lightsalmon;
} */

p {
    background-color: mediumaquamarine;
}

p span {
    background-color: yellow;
}

.boite-blue {
    height: 100px;
    width: 100px;
    padding: 10px;
    background: url(../img/pexels-eberhard-grossgasteiger-1366921.jpg);
    background-position: center;
    border: 5px solid dodgerblue;
    border-radius: 15%;
    margin: 10px;
    float: left;
    transition: 3s;
}

.boite-green {
    height: 100px;
    width: 100px;
    padding: 10px;
    background: url(../img/pexels-eberhard-grossgasteiger-1366921.jpg);
    background-position: center;
    border: 5px solid greenyellow;
    border-radius: 15%;
    margin: 10px;
    float: left;
    transition: 3s;
}

.boite:hover {
    margin-top: 10px;
    color: red;
}

.clear {
    clear: both;
}
