.adaptive-zone {
    width: 1170px;
    background-color: green;
    color: white;
}

@media (max-width: 800px) {
    .adaptive-zone {
        background-color: blue;
    }
}

@media (max-width: 768px) {
    .adaptive-zone {
        width: 750px;
        background-color: orange;
    }
}

@media (max-width: 600px) {
    .adaptive-zone {
        background-color: red;
    }
}
