.container {
    width: 1300px;
    margin: 0 auto;
    /* background-color: green; */
}

header {
    background-color: #8e3557;
}

nav {
    background-color: #4a1a2c;
    padding-left: 2rem;
    height: 50px;
    line-height: 45px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 0 2rem;
    border-right: 1px solid white;
}

nav a:last-child {
    border: none;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section div {
    width: 32vw;
    height: 50vh;
}

.zone1,
.zone4 {
    background: linear-gradient(to left, #40a497, #6840a4);
}

.zone2,
.zone3 {
    background-color: #73adce;
}

footer {
    background-color: palevioletred;
    height: 100px;
}

main {
    border: 1px solid black;
}

.zone3,
.zone4 {
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    header {
        background-color: #568e35;
    }

    section div {
        width: 80vw;
    }

    section {
        flex-direction: column; /*on peut changer laxe principal de flex pour avoir affichage en bloc pour chaque div*/
        align-items: center;
    }
    nav a {
        display: block;
        font-size: 16px;
        border: none;
    }
    nav {
        height: 150px;
        line-height: 30px;
    }
    .zone2 {
        margin-top: 15px;
        background-color: orange;
    }
    footer {
        background-color: #568e35;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container {
        width: 90%;
    }
    section {
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
    }
    header {
        background-color: #d46d19;
    }
    footer {
        background-color: #d46d19;
    }
    section div {
        width: 41vw;
    }
    .zone2,
    .zone3 {
        background-color: #f479d8;
    }
    .zone1,
    .zone4 {
        background-image: url("../img/lion.jpg");
        background-size: cover; /*avec cover l'image couvre la totalité du bloc(meme si l'image est plus grande)*/
    }
} /* la fin de l'interval 992px*/
